.row
  .bs-component
    %ul.breadcrumb
      %li
        %a{href: '/'}
          = t('breadcrumb.home')
      %li.active
        = t('breadcrumb.my_badges')

.row
  .col-md-9
    .row
      =  render :partial => 'users/badges/partials/user_badges', locals: { badges: @badges }

  .col-md-3
    =  render :partial => 'users/badges/partials/user_ranking', locals: { ranking: @rank20 }
