.row
  .bs-component
    %ul.breadcrumb
      %li
        %a{href: '/'}
          = t('breadcrumb.home')
      %li.active
        = t('breadcrumb.my_badges')

.row
  .col-md-6
    .row
      =  render :partial => 'users/badges/partials/user_badges', locals: { badges:@badges }
